* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  line-height: 1.42;
}

body {
  font-family: roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2b2b2b;
  min-width: 320px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: block;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
