@import 'static/mixins/mixins.scss';

.account {
  margin-right: 30px;

  @include tablet {
    margin-right: 0;
  }
}

.account_title {
  margin-bottom: 35px;

  @include smartphone {
    text-align: center;
  }
}

.account__currency {
  font-size: 18px;
}

.account__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.account__item:last-child {
  margin-bottom: 0;
}

.value {
  width: 230px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #404242;
  color: #ffffff;
  display: flex;
  overflow: hidden;
}

.value__integer,
.value__fraction {
  flex: 1;
}

.value__integer {
  text-align: right;
}

.value__fraction {
  color: #8a8a8a;
}

.account__currency {
  color: #1b1b1b;
  margin-left: 20px;
}
