@import 'static/mixins/mixins.scss';

.AuthPage {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.auth {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.auth__wrap {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 245px;
  margin-bottom: 10px;
}

.auth__footer {
  width: 440px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(195, 195, 195);
  border-radius: 7px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  box-shadow: 0px 0px 38px 20px rgba(42, 42, 42, 0.07);
  background-color: #ffffff;

  @include smartphone {
    width: 300px;
  }
}

.auth__link {
  margin-left: 5px;
  color: #4db6e2;
  text-decoration: underline;
  cursor: pointer;
}

.animation div {
  width: 100vw;
  height: 100vh;
}
